:root{
    --primary-color:white;
    --secondary-color:#007FFF;
    --primary-background: black;
    --secondary-background:#1D1F26;
    --border-color:#383d48;
    --image-container-background:#0e0e0f;    
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins',Arial, Helvetica, sans-serif;
    background-color: var(--primary-background);
    color: var(--primary-color);
}

header {    
    width: 100%;
    height: 80px;    
    background-color: transparent;
    color: var(--primary-color);
    position: fixed;
    top: 0;
    left: 0;    
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.3);
    overflow: hidden;
}

header::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20px;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), var(--secondary-color));
}

.marginbot50{
    margin-bottom: 50px;
}
.margintop80{
    margin-top: 80px;
}

/*____________Navbar______________*/
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    height: 50px;
}

.logo-link {
    text-decoration: none;
    color: var(--primary-color);
}

.logo {
    font-size: 50px;
    font-weight: bold;
    color: var(--primary-color);
    position: relative;
    display: inline-block;
    transition: transform 0.3s;
    margin-right: 30px;
}

.logo:hover {
    transform: rotate(360deg);
}
#menu {
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    width: 100%;
    gap: 20px;
}

#menu a {
    text-decoration: none;
    color: var(--primary-color);
    font-size: 24px;
    transition: font-size 0.4s;
}

#menu a:hover {
    font-size: 30px;
}

.menu-icon {
    display: none;
    font-size: 34px;
    cursor: pointer;
}


.contact-link {
    margin-left: auto;
}

@media (max-width: 768px) {
    #menu {
        display: none;
    }

    .menu-icon {
        display: block;
    }

    .menu-open {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 10px;
        background-color: var(--primary-background);
    }

    .menu-open a {
        margin: 10px;
    }
}

#overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
}

#overlay-content {
    width: 80%;
    height: 100%;
    margin-left: auto;
    background-color: var(--primary-background);
    color: var(--primary-color);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-sizing: border-box;
}

#overlay-content a {
    display: block;
    text-decoration: none;
    color: var(--primary-color);;
    margin: 20px 0;
    font-size: 24px; 
}
#overlay-content a:hover {    
    font-size: 30px; 
}

#close-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 30px;
    cursor: pointer;
}
/*________________ MAIN _________________*/

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;    
    text-align: center;
}
.integrateur-section {
    margin-top: 400px;
    margin-bottom: 400px;   
}

h1 {
    font-size: 36px;
    margin: 0;
}

.integrateur {
    background: linear-gradient(90deg, #00f, #0f0);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    animation: fillColor 4s linear infinite;
    background-size: 200% 100%;
}

@keyframes fillColor {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.arrows {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.arrow-down {
    width: 20px;
    height: 20px;
    border: 2px solid var(--primary-color);
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    margin: 5px 0;
    opacity: 0.5;
}

.arrow-1 {
    animation: fadeIn 2s ease infinite 0.25s;
}

.arrow-2 {
    animation: fadeIn 2s ease infinite 0.5s;
}

.arrow-3 {
    animation: fadeIn 2s ease infinite 0.75s;
}

@keyframes fadeIn {
    0% {        
        opacity: 0.2;
    }
    33% {
        opacity: 0.8;
    }
    66% {
        opacity: 0.8;
    }
    100% {        
        opacity: 0.2;        
    }
}

/*_________________ ABOUT __________________*/

.about-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    margin-left: 10px;
    margin-right: 10px;    
    max-width: 1000px;    
    background-color: var(--secondary-background);;
    border-radius: 20px;
    border: 1px solid var(--border-color);
    color: var(--primary-color);
}

.about-content {
    flex: 1;
    padding: 20px;    
}

.about-content h2 {
    font-size: 24px;
    margin: 0;
    color: var(--primary-color);;
}

.about-content p{
    font-size: 18px;
    text-align: justify;
}

.image-container-index img {
    max-width: 300px;
    height: auto;
    border: 2px solid var(--border-color);
    border-radius: 5px;
}
@media (max-width: 768px) {
    .about-section {        
        flex-direction: column-reverse;        
    }
    .about-content {
        flex: 1;
        padding: 10px;    
    }
    .image-container-index img {
        max-width: 200px;         
    }
}

/*_________________________ REASONS _____________________*/

.reasons-section {
    padding: 20px;   
    color: var(--primary-color);;
    background-color: var(--secondary-background);;
    border-radius: 20px;
    border: 1px solid var(--border-color);
    margin-left: 10px;
    margin-right: 10px;
}

.reasons-content {
    max-width: 1000px;
    margin: 0 auto;
}

.reasons-content h2 {
    font-size: 24px;
    color: var(--primary-color);;
}

.reasons-content p {
    font-size: 18px;
    text-align: justify;
}

/*_____________________ Technologies __________________*/

.technologies-section {
    padding: 20px;
    background-color: var(--secondary-background);;
    border-radius: 20px;
    border: 1px solid var(--border-color);
    text-align: center;
    max-width: 1000px;
    margin-right: 10px;
    margin-left: 10px;
}

.technologies-section h2 {
    color: var(--primary-color);
    font-size: 24px;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    width: 100px;
    height: 150px;
    background-color: var(--secondary-color);
    border-radius: 10px;
    margin: 10px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.card .card-front,
.card .card-back {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    backface-visibility: hidden;
    transition: transform 0.5s;
    transform-style: preserve-3d;
}

.card .card-front {
    background-color: var(--secondary-color);
    transform: rotateY(0deg);
    font-size: 24px;
}

.card .card-back {
    background-color: var(--primary-background);
    transform: rotateY(180deg);
    font-size: 17px;
    color: var(--primary-color);
}

.card.flipped .card-front {
    transform: rotateY(180deg);
    font-size: 24px;
}

.card.flipped .card-back {
    transform: rotateY(0deg);
    font-size: 17px;
}

/*_________________ Footer ____________________*/

footer {
    width: 100%;
    background: linear-gradient(to top, transparent, var(--secondary-color));    
    border-top: 1px solid var(--border-color);
    padding: 10px 0;    
    border-radius: 20px 20px 0 0;  
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.footer-logo {
    display: flex;
    align-items: center;
}

.footer-logo span {
    margin: 0 10px;
    font-size: 24px;
}

.footer-links {
    margin-top: 10px;
}

.footer-links p {
    font-size: 24px;
}

.footer-links a {
    margin: 5px;
    text-decoration: none;
    color: var(--primary-color);
    font-size: 20px;
    transition: all .5s ease-in;
}
.footer-links a:hover {    
    font-size: 30px;
}
/*_________________ CONTACT ____________________*/

.contact-section{
    display: flex;
    justify-content: space-between;
    gap: 50px;
    width: 100%;
    max-width: 1200px;             
}

.form{          
    background: var(--secondary-background);;
    margin: 0 20px;
    border-radius: 10px;
    width: 50%;    
}

.contact-info {    
    width: 50%;      
    display: flex;
    flex-direction: column;
    justify-content: center;      
    background: var(--secondary-background);;
    margin: 0 20px;
    border-radius: 10px;    
}

.contact-item{    
    background-color: var(--primary-background);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;      
    margin: 10px;
    padding: 20px;        
}
.footer-icons{
    margin-right: 10px;
}

textarea, input {    
    background-color: var(--primary-background);
    border:none;
    border-radius: 5px;
    letter-spacing: 1px;
    line-height: 38px;
    margin: auto 10px;   
}

label{
    margin: auto 10px;
}
::placeholder{
    padding-left: 10px;
    font-family: 'Poppins',Arial, Helvetica, sans-serif;
}

#form {
    display: flex;
    flex-direction: column;    
    text-align: center;    
}


#form > div {
    margin: 10px 0;
}

.submit-btn {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    font-family: 'Poppins',Arial, Helvetica, sans-serif;
    font-size: 16px; 
    font-weight: bold;   
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.submit-btn:hover {
    background-color: #005bcc;
}

.message-container, .name-container, .email-container{
    text-align: left;
    display: flex;
    flex-direction: column;
    gap : 10px;    
    margin-bottom: 10px; 
}

.contact-footer{
    margin-top: 50px;
}
.contact-section{
    margin-top: 50px;
}
@media (max-width: 768px) {
    .contact-section {
        flex-direction: column;
        align-items: center;
    }

    .form,
    .contact-info {        
        width: 80%;
        min-width: 300px;
    }
    .contact-info > h2{
        margin-top: 20px;
    }

    .contact-footer{
        margin-top: 80px;
    }
}

/*_____________________ PROJECTS _____________________*/
  #projects-section{
    display: flex;
    flex-direction: column;
    max-width: 1200px;    
    border-radius: 10px;
    margin-top: 200px;
  }

  #projects-section h1{
    margin-bottom: 50px;    
  }
  @media (max-width: 768px) {
    #projects-section h1{
        font-size: 20px;    
      }
    
}

  #project-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;    
    border-radius: 10px;
    background-color: var(--secondary-background);;    
    padding: 20px 0;
    margin: 0 10px;
    margin-bottom: 50px;
    gap : 10px
  }
  
  .project-card {
    border: 2px solid var(--border-color);
    border-radius: 5px;
    padding: 10px;    
    cursor: pointer;
    width: 200px;
    min-height: 250px;
  }
  
 .project-card img {
    width: 100%;
    max-width: 100%;
    height: 53%;
  }
  
  .project-card p{
    text-align: left;
    margin-left: 3px;
    font-size: 18px;
    font-weight: bold;
  }

  .project-card:hover {
    transform: scale(1.05);
  }   

  .image-container {
    display: flex;
    justify-content: center;
    align-items: center;    
    margin: 10px 10px;    
    padding: 0px 10px;
    background-color: var(--image-container-background);
    border-radius: 10px;    
  }

  .image-container img {
    width: 100%;
    max-width: 100%;
    height: auto;
    object-fit: cover;
    margin: 10px 10px;
  }
  #project-details{    
    display: flex;
    flex-direction: column;    
    gap:30px;
    max-width: 1200px;
  }

  .detailed-project-card {    
    border-radius: 10px;
    padding: 20px 0;
    margin: 0 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: var(--secondary-background);
  }
  .detailed-project-card h2{
    font-size: 24px;
    color: bisque;    
  } 
  .project-links{
    background-color: var(--image-container-background);
    border-radius: 10px;
    margin: 10px 10px;
    padding: 10px 0px;
  }
  .project-links a {
    display: inline-block;
    margin: 5px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border: 1px solid var(--border-color);
    border-radius: 5px;
    font-weight: 600;
  }  
  .project-links a:hover {
    background-color: #0056b3;
    border: 1px solid var(--border-color);
    transform: scale(1.10);
  }  
  
  .tech-container{    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 10px 10px;    
    padding: 0px 10px;
    background-color: var(--image-container-background);
    border-radius: 10px;
  }
  .tech-container h3 {
    margin: 10px 0;
    font-size: 22px;    
  }
  .tech-container ul {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-bottom: 10px;
    text-align: left;    
  } 
  
  .tech-container ul li{
    font-size: 20px;
  }  
  
  .description-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: flex-start;
    margin: 10px;
    background-color: var(--image-container-background);
    border-radius: 10px;
    padding: 10px;
  }  
  .description-container h3 {
    text-align: left;
    margin: 0;
    margin-bottom: 10px;
    font-size: 22px;
  }
  
  .description-container p {
    margin: 0;    
    text-align: left;
    font-size: 20px;
    text-align: justify;
  }  
  
  .skills-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 10px 10px;    
    padding: 0px 10px;
    background-color: var(--image-container-background);
    border-radius: 10px;
  }

  .skills-container h3{
    margin: 10px 0;
    font-size: 22px;  
  }

  .skills-container ul{
    margin-bottom: 10px;
    padding: 0;
    padding-left: 20px;
  }

  .skills-container ul li{    
    margin: 0;
    margin-bottom: 10px;
    text-align: left;
    font-size: 20px;
  }  